:root {
  --base-font-family: Arial, sans-serif;
  --monospace-font-family: "Courier New", Courier, monospace;
  --grey-color: #ccc;
  --light-grey-color: #eee;
  --black-color: #333;
  --base-gap: 15px;
}

body {
  font-family: var(--base-font-family);
}

.app {
  max-width: 750px;
  margin: auto;
}

h1 {
  margin: 0;
  padding: var(--base-gap) 0;
  padding-left: 12px;
}

table {
  width: 100%;
}

tbody > tr:hover td {
  border-bottom-color: var(--black-color);
}

td,
th {
  padding: 10px;
  text-align: center;
}

th {
  border-bottom: 2px solid var(--grey-color);
}

td {
  border-bottom: 1px solid var(--light-grey-color);
}

td:nth-of-type(5) {
  font-family: var(--monospace-font-family);
}

td:nth-of-type(6) {
  padding-left: var(--base-gap);
  text-align: left;
  font-family: var(--monospace-font-family);
}

td > span {
  display: inline-block;
  width: 50px;
  white-space: nowrap;
  text-align: right;
  font-family: var(--monospace-font-family);
}
